/* main layout */

body {
  font-family: 'Arimo', sans-serif;
}

h1 {
  text-align: center;
}

/* form */

.form-container {
  display: flex;
  justify-content: center;
}

.new-animal-form {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 10px;
  max-width: 550px;
}

.form-item {
  margin-top: 10px;
}

.submit {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}

input {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}

select {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}

/* animal list */

.animal-list {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-gap: 10px;
}

.animal-list-element {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 0;
}

.animal-list-element li {

}

/* animal list element colours */

.lc {
 background-color: #99ff99;
}

.nt {
  background-color: #ccff99;
}

.vu {
  background-color: #ffff99;
}

.en {
  background-color: #ffcc66;
}

.cr {
  background-color: #ff9933;
}

.ew {
  background-color: #ff3300;
  color: white;
}

.ex {
  background-color: #990000;
  color: white;
}

/* button */

.remove-all {
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin-top: 15px;
}
